
p{

}

.header_logo{
    width: 10%;
    height: 10%;
}
.header_list {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navigation_menu{
    list-style-type: none;
    gap: 5rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.item {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f4f4f4;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

@media screen and (max-width: 770px){
    .navigation_menu{
        flex-direction: column;
    }
    .header_list {
        flex-direction: column;
        height: auto;
    }
    .item:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .item {
        font-size: 26px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
  }

  @media screen and (max-width: 940px){
    .navigation_menu{
        gap: 2rem;
    }
  }
  