*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #141414;
}

li {
    list-style: none;
}

.container {
    max-width: 80%;
    margin: 0px auto;
    padding: 1rem;
}

.first_container{
    background-image: url("../public/images/back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:cover;
}

@font-face {
    font-family: "aresmile";   /*Can be any text*/
    src: local("Aareminiscentsmile-Regular"),
      url("../public/fonts/areminiscentsmile-Regular.ttf") format("truetype");
  }